body {

    padding-top: 180px;
}

#logo {

    height:75px;
    width:auto;
}

#warningInstruction{

    position :relative;
    padding:1em;
    border:thin solid #3DA35D;
    border-radius: .25em;
    background-color: #96E072;
}

#warningInstruction::before {

    content: '';
    border-bottom: 0.5em solid  #3DA35D;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    width: 0;
    height: 0;
    position:absolute;
    display: block;
    top:-10%;
    left:5%;
    

}

#welcome_message {

    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
    

}
.encart_heading {
    background-color: #3DA35D;
    padding:.5em;
    border-radius: .5em;

}

.btn-rounded {

    border : .2em solid #3DA35D;
    border-radius: 0 2em 2em 0;
    background-color:  #3DA35D;
    color:#FFFFFF;
    padding: .5em;

}

.input-rounded {
    
    border : .2em solid #3DA35D;
    padding: .5em;
    border-radius: 2em 0 0 2em;
}

.no-margin {

    margin: 0 !important
}

h1 a{
    font-family: cursive;
    font-size:4.5em;
}

ul li {

    list-style: none;
}

#titleArticleH2{

    
    font-family: 'Long Cang', cursive;
}

h2 em {

    font-size: .5em;
}

.Btn_link {

    color:#FFFFFF;
}

.Btn_link:hover {

    color:#FFFFFF;
    text-decoration:none;
}

.encart {

    margin:2em;
    border-radius: 0.5em;
    padding:3em;
	position: relative;
	box-shadow: 5px 4px 5px 4px #CCCCCC;
}

.encart:hover {

    box-shadow: 14px 12px 14px 12px #CCCCCC;
}

.comment_encart {

    background-color:#dcefef;
    border-radius: 2em;
    
}
p strong {

    color: #004e64;
}

#text_area_commentaire {

    border: thick;

}

.comment_encart h3 {

    font-size: 1.5em;
    color: #004e64;
}

.thumbnailPic{

    width : 100px;
    height : auto;

}

#pagination {

    display : flex;
}
